.table {
    &__container {
        width: 60%;
        @include media-breakpoint-down(xs) {
            width: 100%;
           }
        background-color: rgba($color: $light, $alpha: 0.5);
    }
    @include media-breakpoint-down(xs) {
        font-size: .7em;
    }
}