<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{HH:mm:ss}}{red} %highlight{ %t %x %-5level %c{1.}: %msg%n%throwable}{FATAL=white, ERROR=red, WARN=Yellow, INFO=blue, DEBUG=green, TRACE=Yellow}"/>
        </Console>
        <File name="LogToFile" fileName="/target/logs/app.log">
            <PatternLayout>
                <Pattern>%d %x %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.logistica.demo" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.springframework.boot" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
<!--        <Logger name="org.hibernate.SQL" level="debug" additivity="false">-->
<!--            <AppenderRef ref="LogToConsole"/>-->
<!--        </Logger>-->
<!--        <Logger name="org.hibernate.type" level="trace" additivity="false">-->
<!--            <AppenderRef ref="LogToConsole"/>-->
<!--        </Logger>-->
        <Root level="error">
            <AppenderRef ref="LogToFile"/>
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>